<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title -%}
    {% if title %}
            <title>Про Flask - {{title}}</title>
    {% else %}
            <title>Про Flask</title>
    {% endif %}
    {% endblock %}
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />

</head>
<body>
    {% block content -%}

        {%- block mainmenu -%}
        <ul class="mainmenu">
        {% for m in menu -%}
        {% if m.url == '/' -%}
        <li><a href="{{url_for('index')}}">{{m.title}}</a></li>
        {% else -%}
        <li><a href="{{url_for('index')}}{{m.url}}">{{m.title}}</a></li>
        {% endif -%}
        {% endfor -%}
        </ul>
        {% endblock mainmenu -%}
    <div class="clear"></div>
    <div class="content">
        {% if title -%}
            <h1>{{title}}</h1>
        {% else -%}
            <h1>Про Flask</h1>
        {% endif -%}
    {% endblock -%}
    </div>
</body>
</html>